
body {
  font-family: "Varela Round", sans-serif;
  background-color: #f7f7f7;
}

.navbar {
  background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  padding: 10px 16px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: hwb(213 26% 51%);
}

.card-title {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
   background: #435d7d;
}
.btn-circle {
  height: 40px;
  width: auto;
 
}
